/*  LOADING inicio */
.loading {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-auto-columns: auto;
}

.loader {
    position: relative;
    }
    
    .loader span {
        position: absolute;
        color: #fff;
        transform: translate(-50%, -50%);
        font-size: 58px;
        letter-spacing: 5px;
    }
    
    .loader span:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 0.3px rgb(128, 198, 255);
    }
    
    .loader span:nth-child(2) {
        color: rgb(128, 198, 255);
        -webkit-text-stroke: 1px rgb(128, 198, 255);
        animation: uiverse723 3s ease-in-out infinite;
    }
    
    @keyframes uiverse723 {
        0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
        54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }
    
        50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
        51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
}

.loadingImg {
    position: relative;
    margin-bottom: 30px;
}
/*  LOADING fin */

/*  ERROR inicio */
.error {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    justify-content: middle;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.errorMsg {
    justify-content: center;
    margin-top: 100px;
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    color: gray;
    text-shadow: #008bf8 3px 3px 10px;
    font-size: 35px;
    font-weight: bold;
}

.errorImg {
    margin: auto;
    height: auto;
    width: auto;
}
/*  ERROR fin */

.formConteiner{
    text-align: left;
    background-repeat: no-repeat;
    display: flex;
    align-items: left;
    justify-content: left;
    height: 100vh;
    width: 100%;
    background-size: cover;
    /* border: 2px solid rgb(216, 213, 12);
    border-radius: 50px; */
    background-color: black;
}

.createGame {
    display: flex;
    flex-direction: auto;
    position: fixed;
    background-repeat: no-repeat;
    margin-left: 800px;
    margin-top: 60px;
}

.formConteinerData{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    font-size: medium;
    font-weight: bold;
    color: white;
    width: 600px;
    height: fit-content;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
}

.back{
    margin: 10px;
    font-size: 20px;
    color:  white;
    border: 2px solid rgb(39, 41, 151);
    border-radius: 10px;
    text-align: center;
    width: 120px;
    height: 40px;
    background-color: #008bf8;
    justify-content: center;
}

.back:hover{
    color: green;
    background-color: black;
    border-color: green;
    transform: scale(1.1);
}

.namevg{
    margin: 10px;
    border: 2px solid transparent;
    text-align: left;
    border-radius: 5px;
    background-color: rgb(75, 73, 73);
}


.genres{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(75, 73, 73);
    
}

.platforms{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(75, 73, 73);
}

.description{
    margin: 10px;
    border: 2px solid transparent;
    height: 100px;
    justify-content: left;
    position: relative;
    border-radius: 5px;
    background-color: rgb(75, 73, 73);
}

.rating{
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(75, 73, 73);
}

.release{
    margin: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgb(75, 73, 73);
}

.imgCreate{
    margin: 10px;
    border: 2px solid transparent;
    width: 575px;
    height: 200px;
    align-content: center;
    border-radius: 5px;
    background-color: rgb(75, 73, 73);
}

.conteinerGenres{
    display: grid;
    text-align: center;
    width: 250px;
    height: 170px;
    margin: 20px auto;
    margin-top: 610px;
    border: 2px solid transparent;
    border-radius: 7px;
    position: relative;
}

.selectedGenres{
    font-size: 22px;
}

.conteinerPlatforms{
    display: grid;
    text-align: center;
    width: 250px;
    height: 170px;
    margin: 20px auto;
    margin-top: 610px;
    border: 2px solid transparent;
    border-radius: 7px;
    position: relative;
}

.selectedPlatforms{
    font-size: 22px;
}

.btn{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color:  white;
    border: 2px solid rgb(39, 41, 151);
    border-radius: 10px;
    text-align: center;
    width: 120px;
    height: 40px;
    background-color: #008bf8;
}

.btn:hover{
    color: green;
    background-color: black;
    border-color: green;
    transform: scale(1.1);
}

.btn:disabled{
    cursor: no-drop;
}

.btn2{
    border-radius: 20px;
    background-color: rgb(111, 6, 191);
}

.btn3{
    border-radius: 20px;
    background-color: rgb(155, 26, 26);
}