.img {
    width: 400px;
    height: 200px;
    border-radius: 20px;
}

.cardDetails {
    justify-content: center;
    align-items: center;
    color: black;
    height: 80px;
    gap: .1em;
    display: grid;
    place-content: center;
}


.cardButton {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid darkgray;
    background-color: #008bf8;
    place-content: center;
    position: relative;
    margin-top: 30px;
    margin: fit-content;
    font-size: medium;
    font-weight: bold;
}

.cardButton:hover {
    transform: scale(1.1);
}

.textBody {
    color: white;
    font-size: medium;
    font-weight: bold;
    line-height: 1.5;
    margin: auto;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.textTitle {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
}

.card {
    width: 420px;
    height: 330px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #cec3cc;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card:hover {
    border-color: green;
    transform: translateY(-3px);
}

