/* LOADING inicio */
.loading {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-auto-columns: auto;
}

.loader {
    position: relative;
    }
    
    .loader span {
        position: absolute;
        color: #fff;
        transform: translate(-50%, -50%);
        font-size: 58px;
        letter-spacing: 5px;
    }
    
    .loader span:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 0.3px rgb(128, 198, 255);
    }
    
    .loader span:nth-child(2) {
        color: rgb(128, 198, 255);
        -webkit-text-stroke: 1px rgb(128, 198, 255);
        animation: uiverse723 3s ease-in-out infinite;
    }
    
    @keyframes uiverse723 {
        0%, 100% {
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
        54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }
    
        50% {
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
        51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
}

.loadingImg {
    position: relative;
    margin-bottom: 30px;
}
/* LOADING fin */

/*  ERROR inicio */
.error {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    justify-content: middle;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.errorMsg {
    justify-content: center;
    margin-top: 100px;
    height: 100vh;
    width: 100%;
    display: flex;
    position: absolute;
    color: gray;
    text-shadow: #008bf8 3px 3px 10px;
    font-size: 35px;
    font-weight: bold;
}

.errorImg {
    margin: auto;
    height: auto;
    width: auto;
}
/*  ERROR fin */

.conteinerGames {
    color: white;
    background-color: #008bf8;
    display: flex;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
    margin-bottom: none;
}

.titleConteiner {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #008bf8;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    position: relative;
    z-index: 1;
}

.title {
    position: relative;
    font-size: 32px;
    color: white;
    font-weight: bold;
    text-shadow: #0a090a 3px 3px 10px;
}


/* boton RELOAD inicio */
.reload {
    appearance: none;
    background-color: black;
    border: 2px solid rgb(0, 98, 128);
    border-radius: 10px;
    box-sizing: border-box;
    color: #008bf8;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    line-height: normal;
    margin: 0;
    min-height: 3em;
    min-width: 0;
    outline: none;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.reload:disabled {
    pointer-events: none;
}

.reload:hover {
        transform: translateY(1px);
        border: 2px solid green;
}

.reload:active {
    box-shadow: none;
    transform: translateY(0);
}
/* boton RELOAD fin */

.create {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #008bf8;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-right: 140px;
    background-color: black;
    width: 130px;
    height: 65px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 2px solid rgb(0, 98, 128);
}

.create:hover {
    transform: translateY(1px);
    border: 2px solid green;
}


/* FILTROS inicio */
.allFilters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008bf8;
    margin: auto;
    height:50px;
    width: 100%;
}


.filterConteiner {
    display: flex;
    flex-direction: row;
    height: 30px;
    gap: 22px;
}

.filterConteiner>select {
    width: 150px;
    height: 35px;
    border: 2px solid rgb(0, 45, 128);
    border-radius: 10px;
    color: white;
    font-size: medium;
    background-color: black;
}
/* FILTROS fin */

/* CARDS inicio */
.conteinerGamescard {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.conteiner_conteinerGames {
    display: grid;
    justify-content: center;
    margin: 10px 0;
}
/* CARDS fin */

